node_modules
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.development
.env.test.production
.cursor
.vscode
.git
__pycache__
front/前端aichat组件prompt.md
server/utils/oss.py
ssh_proxy.txt
hidoc2.pdf